<body>
  <div class="success-message">
    <%= flash[:notice] %>
  </div>
  
    <div class="main-content">
      <strong>Title:</strong>
      <%= @book.title %>
    </div>
    <div class="main-content">
      <strong>Body:</strong>
      <%= @book.body %>
    </div>
  
  <div class="footer-button">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    │
    <%= link_to "Back", books_path %>
  </div>
</body>